{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{block "title".}} {{end}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">&nbsp;</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Products
      </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/widget/1">Buy one widget</a>
          <a class="dropdown-item" href="/plans/bronze">Subscription</a>
        </div>
      </li>

        <li class="nav-item d-none" id="vt-link">
        <a class="nav-link" href="/admin/virtual-terminal">Virtual Terminal</a>
        </li>

        {{if eq .IsAuthenticated 1}}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/virtual-terminal">Virtual Terminal</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="/admin/sales">All sales</a>
                <a class="dropdown-item" href="/admin/subscriptions">All subscriptions</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
        {{end}}
    </ul>


    {{if eq .IsAuthenticated 1}} 
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" id="login-link">
          <a class="nav-link" href="/logout">Logout</a> 
        </li>
      </ul>
    {{else}}
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" id="login-link">
          <a class="nav-link" href="/login">Login</a> 
        </li>
      </ul>
    {{end}}
  </div>
</nav>

  

    <div class="container">
      <div class="row">
          <div class="col">
            {{block "content".}}{{end}}
          </div>      
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  <script>
 

    function logout(){
      localStorage.removeItem('token');
      localStorage.removeItem('token_expiry')
      location.href = "/logout"
    }

    function checkAuth(){
    if(localStorage.getItem("token") === null){
      location.href = "/login"
      return
    } else {
        let token = localStorage.getItem("token")

        const headers = new Headers()
        headers.append("Content-type", "application/json")
        headers.append("Authorization", "Bearer " + token)

        const reqOptions = {
          method: "POST",
          headers,
        }

        fetch("http://localhost:4001/api/is-authenticated",reqOptions).then(resp=>resp.json()).then(data=>{
          if(data.error === true){
          location.href = "/login"
          } else {
              console.log("Logged in!", data)
            }
        })
      }
    }
  </script>
  {{block "js".}}{{end}}
  </body>
</html>
{{ end }}
