    {{template "base" .}}
    {{define "title"}}
    Login
    {{end}}


    {{define "content"}}

    <div class="alert alert-danger text-center d-none" id="login-messages"></div>

    <form action="/login" method="post" name="login_form" id="login_form" class="d-block needs-validation charge-form" autocomplete="off" novalidate="">
    <h2 class="mt-2 text-center mb-3">Login</h2>
    <hr>
        
            <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" required="" autocomplete="email-new">   
        </div>

        <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" id="password" name="password" required="" autocomplete="password-new">   
        </div>

        <hr>

        <a href="javascript:void(0)" class="btn btn-primary" onClick="val(event)">Login</a>

        <p class="mt-2">
            <small>
            <a href="/forgot-password">
            Forgot password?
            </a>
            </small>
        </p>
    </form>

    {{end}}


    {{define "js"}}
    <script>
        let loginMessages = document.getElementById("login-messages");

        function showError(message){
            loginMessages.classList.add("alert-danger");
            loginMessages.classList.remove("alert-success");
            loginMessages.classList.remove("d-none");
            loginMessages.innerText = message;
        }

        function showSuccess(){
            loginMessages.classList.remove("alert-danger");
            loginMessages.classList.add("alert-success");
            loginMessages.classList.remove("d-none");
            loginMessages.innerText = "Login successfull!";
        }


        function val(e){
            let form = document.getElementById("login_form")
            if(form.checkValidity()===false){
                event.preventDefault();
                event.stopPropagation();
                form.classList.add("was-validated");
                return;
            }
            form.classList.add("was-validated")
            

            const payload = {
                email: document.getElementById("email").value,
                password:document.getElementById("password").value,
            }

            const requestOptions = {
                method: "POST",
                headers: {
                    "Accept":"application/json",
                    "Content-Type" : "application/json"
                    },
                    body: JSON.stringify(payload)
                };

            fetch("http://localhost:4001/api/authenticate", requestOptions).then(resp=>resp.json()).then(resp => {
                    console.log(resp)

                    if(resp.error === false){
                        localStorage.setItem("token",resp.authentication_token.token);
                        localStorage.setItem("token_expiry",resp.authentication_token.expiry);
                        showSuccess()
                        document.getElementById("login_form").submit()
                    } else {
                        showError(resp.message)
                    }
            })

        }

    </script>

    {{end}}