{{template "base" .}}
{{define "title"}}
Login
{{end}}


{{define "content"}}

<form action="" method="post" name="login_form" id="login_form" class="d-block needs-validation charge-form" autocomplete="off" novalidate="">
<h2 class="mt-2 text-center mb-3">Login</h2>
<hr>
    
        <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" required="" autocomplete="email-new">   
    </div>

    <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" required="" autocomplete="password-new">   
    </div>

    <hr>

    <a href="javascript:void(0)" class="btn btn-primary" onClick="val(event)">Login</a>

</form>

{{end}}


{{define "js"}}
<script>

    function val(e){
        let form = document.getElementById("login_form")
        if(form.checkValidity()===false){
            event.preventDefault();
            event.stopPropagation();
            form.classList.add("was-validated");
            return;
        }
        form.classList.add("was-validated")
         

         const payload = {
            email: document.getElementById("email").value,
            password:document.getElementById("password").value,
         }

         const requestOptions = {
            method: "POST",
            headers: {
                "Accept":"application/json",
                "Content-Type" : "application/json"
                },
                body: JSON.stringify(payload)
             };

        fetch("http://localhost:4001/api/authenticate", requestOptions).then(resp=>resp.json()).then(resp => {
                console.log(resp)
        })

    }

</script>

{{end}}