{{define "stripe-js"}}
<script>

    let card;
    let stripe;
    const cardMessages = document.getElementById("card-messages");
    const payButton = document.getElementById("pay-button");
    const processing = document.getElementById("processing-payment") 

    stripe = Stripe('{{.StripePublicKey}}')

    function hidePayButton(){
    payButton.classList.add("d-none")
    processing.classList.remove("d-none")
    }

    function showPayButtons(){
    payButton.classList.remove("d-none")
    processing.classList.add("d-none")
    }

    function showError(message){
        cardMessages.classList.add("alert-danger");
        cardMessages.classList.remove("alert-success");
        cardMessages.classList.remove("d-none");
        cardMessages.innerText = message;
    }

    function showCardSuccess(){
        cardMessages.classList.remove("alert-danger");
        cardMessages.classList.add("alert-success");
        cardMessages.classList.remove("d-none");
        cardMessages.innerText = "Transaction successfull!";
    }



    function val(event){
        let form = document.getElementById("charge_form")
        if(form.checkValidity()===false){
            event.preventDefault();
            event.stopPropagation();
            form.classList.add("was-validated");
            return;
        }
        form.classList.add("was-validated")
        hidePayButton()
         
         let amountToCharge = document.getElementById("amount").value 

         const payload = {
            amount: amountToCharge, 
            currency: "EUR",
         }

         const requestOptions = {
            method: "POST",
            headers: {
                "Accept":"application/json",
                "Content-Type" : "application/json"
                },
                body: JSON.stringify(payload)
             };

        fetch("http://localhost:4001/api/payment-intent", requestOptions).then(resp=>resp.text()).then(resp => {
            let data;
            try{
                data = JSON.parse(resp);
                stripe.confirmCardPayment(data.client_secret, {
                    payment_method: {
                    card: card,
                    billing_details: {
                        name: document.getElementById("cardholder-name").value,
                        email: document.getElementById("cardholder-email").value,
                    }
                }
                }).then((result)=>{
                    if(result.error){
                        // card declined  or sth went wrong with card
                        showError(result.error.message);
                        showPayButtons();
                    } else if (result.paymentIntent) {
                        if(result.paymentIntent.status === "succeeded"){
                            // we have charged the card
                            document.getElementById("payment_method").value =result.paymentIntent.payment_method; 
                            document.getElementById("payment_intent").value =result.paymentIntent.id;
                            document.getElementById("payment_amount").value =result.paymentIntent.amount;
                            document.getElementById("payment_currency").value =result.paymentIntent.currency;

                            document.getElementById("cardholder_name_hidden").value =document.getElementById("cardholder-name").value;
                            document.getElementById("cardholder_email_hidden").value = document.getElementById("cardholder-email").value;
                            processing.classList.add("d-none");
                            showCardSuccess();
                            // submit form
                            document.getElementById("charge_form").submit();
                        }
                    }
                })
            }catch(err){
                console.log(err);
                showError("Invalid response from payment gateway!");
                showPayButtons();
            }
        })
    }

    (function(){
        const elements = stripe.elements();
        const style = {
            base: {
                fontSize:"16px",
                lineHeight:"24px"
            }
        };

        card = elements.create("card",{
            style:style,
            hidePostalCode: true
        });

        card.mount("#card-element");

        card.addEventListener("change",(e)=>{
            let displayErr = document.getElementById("card-errors");
            if(e.error){
                displayErr.classList.remove("d-none");
                displayErr.textContent = e.error.message;
            } else {
                displayErr.classList.add("d-none");
                displayErr.textContent = "";
            }
        });
    })();
</script>
{{end}}